body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  background-color: #f8f8f8;
  line-height: 1.2; 
}

img {
	border-radius: 10%;
	border-color: red;
	border: 5px rgb(256, 0, 0) solid;
}

footer {
  min-width: 550px;
  background-color: #999999;
  color: #ffffff;
  text-align: center;
}

header p {
	font-size: 20px;
	font-style: italic;
}

p {
	font-size: 18px;
	padding: 5px;
}

h1 {
	font: "Calibri", sans-serif;
	font-size: 40px;
	text-align: center;
}

h2 {
	font: "Calibri", sans-serif;
	font-size: 30px;
	text-align: center;
}

h3 {
	font: "Calibri", sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	background-color: #eaeaea;
}

li {
	text-align: left;
	margin: 5px;
	padding: 0 50px;
	list-style-type: none;
	background-image: url(https://static.tildacdn.com/tild3263-3063-4765-b466-393334376539/leather-derby-shoe.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: leftwards;
}

.s_desc {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

.f_desc {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.contacts {
	text-align: left;
	padding: 0 70px;
}
